* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:url("https://c.tenor.com/KjVxfRrrncUAAAAC/matrix.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
 
}

.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  color: rgb(222, 235, 202);
  text-align: center;
  padding: 15px;
  width: 30vw;
  margin: auto;
  
}

.box {
  color: rgb(222, 235, 202);
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(14, 34, 22);
  border-radius: 2em;
  width: 30vw;
  height: auto;
}

.btn {
  border: 0;
  color: rgb(222, 235, 202);
  font-weight: bold;
  background-color: rgb(3, 100, 27);
  padding: 10px;
  margin-top: 10px;
  border-radius: 1.5em;
}

.text-input {
  color: rgb(185, 250, 8);
  background-color: rgb(37, 37, 37);
  border-radius: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}


.text {
  color: rgb(185, 250, 8);
  
}



.fadeOut {
  opacity: 0;
  transition: 0.49s;
}

.fadeIn {
  opacity: 100;
  transition: 0.5s;
}